@media (min-width: 768px) {
  .contenedor-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logo {
    margin: 0;
  }
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu-option {
    padding:0 15px;
    font-size: 16px;
  }
  .btn-contenedor1 {
    margin: 0;
  }

  .art-1 {
    display: inline-flex;
    flex-basis: 50%;
  }
  .texto {
    flex-basis: 50%;
  }

  .section-main-container-img {
    display: flex;
    flex-basis: 50%;
  }
  .section-main-img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .titulo {
    font-size: 40px;
  }
  .texto-2 {
    flex-basis: 50%;
  }
  .texto-sect-2 {
    margin-top: 60px;
  }
  .card-holidays-texto-titulo {
    font-size: 13px;
  }
  .card-holidays-texto-enlace{
    font-size: 13px;
  }
  .contenedor-articles-sect-2 {
    display: flex;
    flex-direction: row;
    margin: 0px 40px 40px 40px;
    align-items: stretch;
  }
  .card-holidays-texto {
    display: flex;
    flex-direction: column;
  }

  .card-sect-2 {
    flex-basis: calc(100% / 4);
    padding: 20px;
  }
  .card-holidays-texto-titulo{
    margin-bottom: 20px;
  }

  .section-contacto{
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
  }

  .section-contacto-contenedor-texto-titulo{
    margin: 0;
  }

  .section-blog{
    margin-top: 20px;
  }
  .section-blog-container-card-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }
  .section-blog-container-card-principal-container {
    padding: 0;
    max-width: 40%;
  }

  .section-blog-container-card-principal-container-img{
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  .section-blog-container-card-principal-contenedor-texto {
    flex-basis: 60%;
    background-color: #231f20;
    padding: 0;
    padding-left: 30px;
    padding-top: 30px;
  }

  .section-blog-container-articulos-contenedor {
    flex-direction: row;
  }

  .section-blog-container-articulos-contenedor-articulo-titulo {
    font-size: 15px;
  }

  .section-blog-container-articulos-contenedor-articulo {
    padding: 60px;
  }

  .contenedor-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    font-size: 14px;
  }
  .menu-footer-item1 {
    font-size: 14px;
  }
  .section-blog-container-articulos-contenedor-articulo-parrafo {
    font-size: 12px;
  }
  .section-blog-container-articulos-contenedor-articulo-enlace {
    font-size: 10px;
  }

  .linea {
    max-width: 600px;
  }

  /**/
  .section-main-item{
    display: flex;
  }
  .card-holidays {
    flex-basis: calc(100% / 3);
  }
}
