@media (min-width: 1024px) {
  .section-blog-container-articulos-contenedor-articulo {
    padding: 80px;
  }
  .section-blog-container-card-principal-contenedor-texto {
    padding-top: 60px;
  }
  .section-blog-container-card-principal-contenedor-texto-titulo {
    font-size: 40px;
  }
  .titulo {
    margin-top: 60px;
  }
  
  .card-holidays {
    flex-basis: calc(100% / 4);
  }

}
