* {
  font-family: 'Poppins', sans-serif;
}

/*
Header Start
*/
.logo {
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.menu-option {
  padding-bottom: 10px;
}
/*
Header end
*/

/*
Section main Start
*/
.section-main-content {
  padding: 60px;
  background-color: #f1f1f2;
}
.section-main-container-btn {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}
.img-contenedor {
  line-height: 0;
}

.titulo {
  text-align: initial;
  font-size: 35px;
  margin: 0;
}
.parrafo {
  font-size: 13px;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 30px;
  text-align: initial;
}

/*
Section main  End
*/

/*
Section Holidays  Start
*/
.section-holidays {
  padding: 90px 0;
}
.section-holidays-title {
  font-size: 32px;
  margin: 0 0 15px 0;
}
.section-holidays-subtitle {
  font-size: 18px;
  margin-bottom: 60px;
}

.section-holidays-contain-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}

.card-holidays {
  flex-basis: 50%;
  padding: 0 15px;
  padding-bottom: 15px;
}

.card-holidays-texto-titulo {
  font-size: 16px;
  margin: 0;
}
.card-holidays-texto-enlace {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding-top: 3px;
}

.card-holidays-texto {
  display: flex;
  flex-direction: column;
}
/*
Section Holidays  End
*/

/*
Section contacto  Start
*/

.section-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7941e;
  padding: 40px 0;
}

.section-contacto-contenedor-texto-titulo{
  margin: 0;
  margin-top: 15px;
}

.section-contacto-contenedor-texto {
  font-size: 20px;
}
.section-contacto-contenedor-texto-span{
  line-height: 2;
}

.section-contacto-contenedor-btns{
  display: flex;
  flex-direction: row;
}
.section-contacto-contenedor-btns-container-btn{
  padding: 5px;
}

/*
Section contacto  Start
*/

/*
Section blog Start
*/

.section-blog{
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}

.section-blog-container-texto {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 12px;
  text-align: center;
}

.section-blog-container{
  max-width: 1024px;
  padding: 0 15px;
}

.section-blog-container-texto-titulo{
  margin: 0;
  font-size: 19px;
}

.section-blog-container-card-principal{
  display: flex;
  flex-direction: column;
}

.section-blog-container-articulos-contenedor-articulo {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 30px 0;
}

.section-blog-container-card{
  display: flex;
  justify-content: center;
}
.section-blog-container-articulos {
  display: flex;
  justify-content: center;
}

.section-blog-container-card-principal-container{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.section-blog-container-card-principal-container-img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.section-blog-container-card-principal-contenedor-texto {
  color: #fff;
  padding: 10px 0px 10px 10px;
  background-color: #231f20;
}

.section-blog-container-card-principal-contenedor-texto-span {
  font-size: 10px;
}

.section-blog-container-card-principal-contenedor-texto-titulo {
  font-size: 35px;
  margin: 0px;
  margin-bottom: 30px;
}

.section-blog-container-card-principal-contenedor-texto-enlace {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: capitalize;
}

.section-blog-container-articulos-contenedor {
  display: flex;
  flex-direction: column;
}

.section-blog-container-articulos-contenedor-articulo-titulo {
  font-size: 20px;
}

.section-blog-container-articulos-contenedor-articulo-parrafo {
  text-align: justify;
}

.section-blog-container-articulos-contenedor-articulo-enlace {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

/*
Section blog end
*/


.btn-contenedor1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.art-1 {
  display: flex;
  justify-content: center;
}



.art-2 {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.texto-sect-2 {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.img-sect-2 {
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* .button2 {
  border: 1px solid #231f20;
  background-color: #231f20;
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  padding: 9px;
  border-radius: 3px;
}

.button3 {
  border: 1px solid #231f20;
  background-color: transparent;
  color: #231f20;
  text-transform: uppercase;
  font-size: 9px;
  padding: 9px;
  border-radius: 3px;
} */

/*
footer start
*/
.contenedor-footer {
  display: flex;
  flex-direction: column;
}

.menu-footer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  color: #000;
}
.menu-footer-item1 {
  padding: 20px;
  font-size: 18px;
  text-transform: bold;
}

.menu-footer-item {
  padding: 20px;
  font-size: 18px;
}
.item {
  color: #000;
}
.footer {
  text-align: center;
  padding-bottom: 30px;
}
.logo-footer {
  text-align: center;
  color: #f7941e;
  font-family: 'Homemade Apple', cursive;
}
.linea {
  max-width: 300px;
}

.enlace-footer {
  text-decoration: none;
  color: #000;
}
/*
footer end
*/
