* {
  font-family: 'Poppins', sans-serif;
}

/*
Header Start
*/
.logo {
  font-size: 50px;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.menu-option {
  padding-bottom: 10px;
}
/*
Header end
*/

/*
Section main Start
*/
.section-main-content {
  padding: 60px;
  background-color: #f1f1f2;
}
.img-contenedor {
  line-height: 0;
}
/*
Section main  End
*/

/*
Section Holidays  Start
*/
.section-holidays {
  padding: 90px 0;
}
.section-holidays-title {
  font-size: 32px;
  margin: 0 0 15px 0;
}
.section-holidays-subtitle {
  font-size: 18px;
  margin-bottom: 60px;
}

.section-holidays-contain-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}

.card-holidays {
  flex-basis: 50%;
  padding: 0 15px;
}

.titulo-sect-2 {
  font-size: 16px;
  margin: 0;
}
.enlace-sect-2 {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding-top: 3px;
}
/*
Section Holidays  End
*/

/*
Section Corta  Start
*/

.sect-corta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7941e;
  padding: 40px 0;
}

/*
Section Corta  Start
*/

/*
Section 3
*/

.section-3 {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}

.texto-titulo-3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 12px;
  text-align: center;
}

.section-3-container {
  max-width: 1024px;
  padding: 0 15px;
}

.titulo-sect-3 {
  margin: 0;
  font-size: 19px;
}

.card-sect-3 {
  display: flex;
  flex-direction: column;
}

.texto-1-card {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 30px 0;
}

/*
Section 3
*/

.contenedor-art-3 {
  display: flex;
  justify-content: center;
}
.contenedor-car-3 {
  display: flex;
  justify-content: center;
}

.btn-contenedor {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}
.btn-contenedor1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.art-1 {
  display: flex;
  justify-content: center;
}

.titulo {
  text-align: initial;
  font-size: 35px;
  margin: 0;
}
.parrafo {
  font-size: 13px;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 30px;
  text-align: initial;
}

.art-2 {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.texto-sect-2 {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.img-sect-2 {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.texto-contenedor-sect-2 {
  display: flex;
  justify-content: space-between;
}

.titulo-corto {
  margin: 0;
  margin-top: 15px;
}

.contenedor-texto-sect-corta {
  font-size: 20px;
}
.span-corto {
  line-height: 2;
}

.contenedor-btn-sect-corta {
  display: flex;
  flex-direction: row;
}
.btn-contenedor {
  padding: 5px;
}
.button2 {
  border: 1px solid #231f20;
  background-color: #231f20;
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  padding: 9px;
  border-radius: 3px;
}

.button3 {
  border: 1px solid #231f20;
  background-color: transparent;
  color: #231f20;
  text-transform: uppercase;
  font-size: 9px;
  padding: 9px;
  border-radius: 3px;
}

.img-contenedor-sect-3 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.img-sect-3 {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card-contenido {
  color: #fff;
  padding: 10px 0px 10px 10px;
  background-color: #231f20;
}

.card-span {
  font-size: 10px;
}

.texo-sect-3-card {
  font-size: 35px;
  margin: 0px;
  margin-bottom: 30px;
}

.enlace-sect-3 {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: capitalize;
}

.card-textos {
  display: flex;
  flex-direction: column;
}

.titulo-card-texto {
  font-size: 20px;
}

.parf-texto {
  text-align: justify;
}

.enlace-cards {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
}

.menu-footer {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  color: #000;
}
.menu-footer-item1 {
  padding: 20px;
  font-size: 18px;
  text-transform: bold;
}

.menu-footer-item {
  padding: 20px;
  font-size: 18px;
}
.item {
  color: #000;
}
.footer {
  text-align: center;
  padding-bottom: 30px;
}
.logo-footer {
  text-align: center;
  color: #f7941e;
  font-family: 'Homemade Apple', cursive;
}
.linea {
  max-width: 300px;
}

.enlace-footer {
  text-decoration: none;
  color: #000;
}

