/*
.btn: clase para los botones
*/
:root {
  --primary-button: #f7941e;
}

.btn {
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  border: solid 1px #000;
}

.btn.btn-primary {
  background-color: var(--primary-button);
  border: 1px solid var(--primary-button);
  color: #fff;
}

.btn.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--primary-button);
  color: var(--primary-button);
}
.btn.btn-black {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}
.btn.btn-invert {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
.btn.small {
  font-size: 14px;
  padding: 8px 16px;
}
/*
utlidades flex
*/
.d-flex {
  display: flex;
}
.d-flex-column{
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

/* .w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
} */

/*
utlidades margin
*/
.m-auto {
  margin: auto;
}
.mb {
  margin-bottom: 10px;
}
.mr {
  margin-right: 10px;
}
.ml {
  margin-left: 10px;
}
.mt {
  margin-top: 10px;
}

/*
utlidades padding
*/
.padding {
  padding: 10px;
}
/*
utlidades texto
*/

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 768px){
  .w-70{
    width: 70%;
  }

  .w-30 {
    width: 30%;
  }

}


@media (min-width: 1024px) {
  /*
  utilidades
  */
  .w-l-50 {
    width: 50%;
  }
}
